.light-nav-links, .navbar-light .navbar-nav .nav-link{
    color: rgb(230, 230, 230);
}
.navbar-nav .nav-link a{
    color: rgb(230, 230, 230);
}
.navbar-with-border {
    /* border-color: rgb(230, 230, 230);
    border-top: 1;
    border-style: solid; */
    border-top: 1px solid aliceblue;
}